html {
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;

  @media (min-width: 320px) {
    // padding: 0 15px;
    // width: 100%;
    width: 280px;
  }
  .container {
    margin: 0 auto;
  
    @media (min-width: 320px) {
      // padding: 0 15px;
      // width: 100%;
      width: 280px;
    }
    @media (min-width: 375px) {
      width: 280px;
      // padding: 0;
      padding: 0 , auto;
    }
    @media (min-width: 768px) {
      padding: 0;
      width: 610px
    }
    @media (min-width:1280px){
      width: 946px; 
    }
    @media (min-width: 1600px) {
      width: 1440px;
      padding: 0;
    }
    // test
  }
  @media (min-width: 768px) {
    padding: 0;
    width: 610px;
  }
  @media (min-width: 1280px) {
    width: 1050px;
  }
  @media (min-width: 1600px) {
    width: 1440px;
    padding: 0;
  }
<<<<<<< HEAD:src/sass/_general.scss
  // test
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
button {
  padding: 0;
  border: none;
}
=======
  a {
    text-decoration: none;
  }
  body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  }
  
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
>>>>>>> f65f9f54c66e6e65f1235fefd861aa1f9fb6f415:src/sass/utilits/_general.scss
